    <footer class="sitefooter container" role="contentinfo">
    		<div class="presented-by">
    			<h2>Presented by Shropgeek</h2>
    			<p>We are a collection of like minded people based in and around Shropshire; who like to meet regularly to catchup on the latest goings on and socialise with fellow geeks.</p>
    		</div>
    		
    		<div class="about-footer">
    			<nav role="navigation">
    				<ul>
    					<li><a href="/about">About</a></li>
    					<li><a href="/sponsors">Sponsors</a></li>
    					<li><a href="/terms">FAQ's</a></li>
    					<li><a href="/terms#refunds">Refunds and transfers</a></li>
    					<li><a href="mailto:revolution@shropgeek.co.uk">Contact us</a></li>
    				</ul>
    			</nav>
    		</div>
    		<div class="social-footer">
    			<h2>Tell your friends</h2>
				<ul>
					<li>
					<div class="fb-like" data-href="http://2013.shropgeek-revolution.co.uk" data-send="false" data-layout="button_count" data-width="120" data-show-faces="false" data-font="verdana"></div>
					</li>
					<li>
						<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://2013.shropgeek-revolution.co.uk" data-text="Shropgeek (R)evolution 2013" data-via="shropgeek" data-related="shropgeek">Tweet</a>
						
					</li>
					<li><div class="g-plusone" data-size="medium" data-href="http://2013.shropgeek-revolution.co.uk"></div>
</li>
				</ul>
    		</div>
    		<div class="previous-footer">
	    		<nav role="navigation">
	    			<h2>Previous years</h2>
					<ul>
						<li><a href="http://2010.shropgeek-revolution.co.uk">2010</a></li>
						<li><a href="http://2011.shropgeek-revolution.co.uk">2011</a></li>
						<li><a href="http://2012.shropgeek-revolution.co.uk">2012</a></li>
					</ul>
	    		</nav>
    		</div>
    </footer>