    <footer class="sitefooter container" role="contentinfo">
    		<div class="presented-by">
    			<h2>Presented by Shropgeek</h2>
    			<p>We are a collection of like minded people based in and around Shropshire; who like to meet regularly to catchup on the latest goings on and socialise with fellow geeks.</p>
    		</div>
    		
    		<div class="about-footer">
    			<nav role="navigation">
    				<ul>
    					<li><a href="/about">About</a></li>
    					<li><a href="/sponsors">Sponsors</a></li>
    					<li><a href="#">Terms &amp; conditions</a></li>
    					<li><a href="#">Refunds and transfers</a></li>
    					<li><a href="#">Contact us</a></li>
    				</ul>
    			</nav>
    		</div>
    		<div class="social-footer">
    			<h2>Tell your friends</h2>
				<ul>
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Twitter</a></li>
					<li><a href="#">Google+</a></li>
				</ul>
    		</div>
    		<div class="previous-footer">
	    		<nav role="navigation">
	    			<h2>Previous years</h2>
					<ul>
						<li><a href="#">2010</a></li>
						<li><a href="#">2011</a></li>
						<li><a href="#">2012</a></li>
					</ul>
	    		</nav>
    		</div>
    </footer>