	<div class="nav-wrap">
	<nav class="sitenav container" role="navigation" id="nav">
			<ul>	
				<li 
					{% if mixture.url == "index" %}
							class="current"
					{% endif %}>
					<a href="/">Home</a>
				</li>
				<li
					{% if mixture.url == "schedule" %}
						class="current"
					{% endif %}>
					<a href="schedule">Schedule</a>
				</li>
				<li
					{% if mixture.url == "venue" %}
						class="current"
					{% endif %}>
					<a href="venue">Venue</a>
				</li>
				<li
					{% if mixture.url == "location" %}
						class="current"
					{% endif %}>
					<a href="location">Location</a>
				</li>
				<li
					{% if mixture.url == "fringe" %}
						class="current"
					{% endif %}>
					<a href="fringe">Fringe</a>
				</li>
				<li class="last 
					{% if mixture.url == "tickets" %}
						current
					{% endif %}">
					<a href="tickets">Tickets</a>
				</li>
			</ul>	
		</nav>
	</div>
	<header class="siteheader" role="banner">
		
		<div class="container">
			<div class="title">
				<h1>Shropgeek (R)evolution</h1>
			</div>
			<div class="where-and-when">
				<p class="date">Friday, 27 September 2013</p>
				<p class="location">Shropshire Conference Centre, Shrewsbury</p>
			</div>
		</div>
	</header>