<footer class="sponsors container">
    	<h2>In association with</h2>
    	<ul class="platinum-sponsors">
			<li><a href="#">
				<img src="{{ "revolution-logo.png" | asset_url }}" alt="">
			</a></li>
			<li><a href="#">
				<img src="{{ "revolution-logo.png" | asset_url }}" alt="">
			</a></li>
    	</ul>
    </footer>