<!-- I am a blank page, duplicate me -->
{% block title %}Page title{% endblock %}

{% block content %}
	<main role="main">
	<section class="page-title">
			<div class="container">
				<h1>Page title</h1>
			</div>
		</section>
		<div class="page container"> 
	
		</div>
	</main>
{% endblock %}