/* normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE6/7.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7.
 * Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
 */
h1 {
  font-size: 2em;
  margin: 0; }

h2 {
  font-size: 1.5em;
  margin: 0; }

h3 {
  font-size: 1.17em;
  margin: 0; }

h4 {
  font-size: 1em;
  margin: 0; }

h5 {
  font-size: 0.83em;
  margin: 0; }

h6 {
  font-size: 0.75em;
  margin: 0; }

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 1.5em; }

/*
 * Addresses styling not present in S5, Chrome.
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Addresses margins set differently in IE6/7.
 */
p,
pre {
  margin: 0 0 1em 0; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Addresses CSS quotes not supported in IE6/7.
 */
q {
  quotes: none; }

/*
 * Addresses `quotes` property not supported in S4.
 */
q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
dl,
menu,
ol,
ul {
  margin: 0 0 1em 0; }

dd {
  margin: 0 0 0 1.5em; }

/*
 * Addresses paddings set differently in IE6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 1.5em; }

/*
 * Corrects list images handled incorrectly in IE7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7.
 */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
button,
input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in FF3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  background: #f1f1f1; }

body {
  font-family: "ff-tisa-web-pro", Georgia, "Times New Roman", Times, Serif;
  font-size: 1em;
  color: #333333;
  margin: 0 auto;
  max-width: 1400px;
  line-height: 1.5em; }
  body:after {
    content: "";
    display: table;
    clear: both; }

img {
  max-width: 100%;
  display: block; }

h1, h2, h3 {
  font-family: "futura-pt-condensed", "League Gothic", "Arial Narrow", "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase; }

h4, h5, h6 {
  font-family: "freight-sans-pro", "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

h1 {
  font-size: 2.5em;
  line-height: 1.2em;
  margin-bottom: 0.3em; }

h2 {
  font-size: 2em;
  line-height: 1.2em;
  margin-bottom: 0.3em; }

h3 {
  font-size: 1.5em;
  line-height: 1.2em; }

h4 {
  font-size: 1em;
  line-height: 1.2em; }

a {
  color: #c1503e;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #c1503e; }

.button {
  font-family: "freight-sans-pro", "Helvetica Neue", Arial, sans-serif;
  display: inline-block;
  padding: 0.75em 1.75em;
  background: #333;
  color: #fff;
  border: none;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.75em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }

.container {
  max-width: 1600px;
  width: 92%;
  margin: 0 auto;
  padding: 0 4%; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.content-container {
  max-width: 34em; }

.grid:after {
  content: "";
  display: table;
  clear: both; }

.siteheader {
  border-top: 3px solid #c1503e;
  border-bottom: 1px solid #e9e9e9; }
  .siteheader .container {
    background-color: #fff;
    padding-top: .5em; }
  .siteheader .title {
    width: 100%;
    padding: 0; }
  .siteheader .where-and-when {
    text-align: left;
    float: left; }

.where-and-when {
  padding: 0 0 1em; }
  .where-and-when p {
    font-family: "futura-pt-condensed", "League Gothic", "Arial Narrow", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-bottom: 0; }

.home .siteheader {
  display: none; }

h1.logo {
  text-indent: -9999px;
  background: transparent url(../img/revolution-logo.png) top left no-repeat;
  width: 200px;
  height: 37px;
  background-size: 200px 37px;
  float: left; }

.home h1.logo {
  float: none;
  margin: 0 auto; }

/* responsive-nav.js v1.0.14 by @viljamis */
.js #nav {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1; }

#nav.opened {
  max-height: 9999px; }

.nav-wrap {
  position: relative; }

.home .nav-wrap {
  background: #c1503e; }
  .home .nav-wrap:after {
    content: "";
    display: table;
    clear: both; }

#nav-toggle {
  display: inline-block;
  float: right;
  padding: 0.5em;
  text-indent: 1000%;
  white-space: nowrap;
  overflow: hidden;
  height: 22px;
  width: 22px;
  background: transparent url(../img/menu.png) center center no-repeat;
  -webkit-background-size: 22px 21px;
  -moz-background-size: 22px 21px;
  -o-background-size: 22px 21px;
  -ms-background-size: 22px 21px;
  background-size: 22px 21px; }
  #nav-toggle:after {
    content: "";
    display: table;
    clear: both; }

.home #nav-toggle {
  background-image: url(../img/menu-white.png); }

.sitenav {
  background: #333333;
  padding: 0;
  width: 100%; }
  .sitenav:after {
    content: "";
    display: table;
    clear: both; }
  .sitenav ul {
    margin: 0;
    padding: 0; }
  .sitenav li {
    display: block; }
  .sitenav li.current a {
    color: #c1503e; }
  .sitenav a {
    font-family: "futura-pt-condensed", "League Gothic", "Arial Narrow", "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1.25em;
    color: #fff;
    display: block;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0.2em 0; }
    .sitenav a:hover, .sitenav a:active, .sitenav a:focus {
      color: #c1503e; }
  .sitenav .last a {
    border: none; }

.page {
  background: #fff;
  padding-bottom: 1em;
  padding-top: 1em; }

.page-title {
  background: #fff; }
  .page-title:after {
    content: "";
    display: table;
    clear: both; }
  .page-title .container:after {
    content: "";
    display: table;
    clear: both; }
  .page-title h1 {
    margin: 0;
    padding: .5em 0; }
  .page-title p {
    font-size: 1.166666667em;
    line-height: 1.5em;
    max-width: 37em; }

.hero {
  min-height: 400px; }
  .hero h1, .hero h2, .hero p {
    color: #fff; }

.sales-pitch {
  position: relative;
  padding: 0;
  width: 100%;
  background: url(../img/sunburst-bg.png) center bottom no-repeat;
  -webkit-background-size: 200%;
  -moz-background-size: 200%;
  -o-background-size: 200%;
  -ms-background-size: 200%;
  background-size: 200%;
  background-color: #c1503e;
  overflow: hidden; }

.caption h1.logo {
  background-image: url(../img/revolution-logo-white.png); }
.caption .caption-content {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  max-width: 24em;
  z-index: 1000;
  position: relative; }
  .caption .caption-content h1 {
    margin-bottom: 0.25em; }
  .caption .caption-content p {
    font-size: 1.166666667em; }

.foreground {
  height: 220px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 3em; }
  .foreground img {
    position: absolute;
    bottom: 0; }

.about {
  background-color: #f3dcd8; }
  .about:after {
    content: "";
    display: table;
    clear: both; }
  .about .about-content {
    font-size: 0.875em;
    padding: 1em 3%;
    width: 94%; }
    .about .about-content h2 {
      text-align: center; }
      .about .about-content h2:after {
        content: "";
        width: 1em;
        height: 0.1em;
        background: #333333;
        margin: 0.25em auto 0;
        display: block; }

.credit {
  font-family: "freight-sans-pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 0.875em;
  color: #666666;
  text-align: right; }

.speakers {
  background-color: #fff;
  padding-bottom: 2em; }
  .speakers h2 {
    text-align: center;
    color: #c1503e; }
  .speakers:after {
    content: "";
    display: table;
    clear: both; }

.photo-grid {
  padding-bottom: 1em; }
  .photo-grid ul {
    list-style: none outside none;
    padding-left: 0; }
  .photo-grid li {
    position: relative;
    margin-bottom: 2%;
    line-height: 1em;
    float: left;
    width: 49%;
    margin-right: 2%;
    overflow: hidden; }
    .photo-grid li.second, .photo-grid li.fourth, .photo-grid li.sixth, .photo-grid li.eighth {
      margin-right: 0; }
    .photo-grid li a {
      display: block;
      line-height: 0;
      color: #c1503e;
      overflow: hidden; }
    .photo-grid li figure:after {
      content: "";
      display: table;
      clear: both; }
    .photo-grid li img {
      -webkit-filter: grayscale(1);
      -moz-filter: grayscale(1);
      -o-filter: grayscale(1);
      -ms-filter: grayscale(1);
      filter: grayscale(1);
      width: 100%; }
    .photo-grid li figcaption {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.75);
      width: 94%;
      padding: 0.5em 3% 0;
      -webkit-transition: bottom 0.3s ease-out;
      -moz-transition: bottom 0.3s ease-out;
      -o-transition: bottom 0.3s ease-out;
      -ms-transition: bottom 0.3s ease-out;
      transition: bottom 0.3s ease-out; }
    .photo-grid li h3 {
      font-size: 1.4em;
      line-height: 1em;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
      margin-bottom: 0;
      color: #fff; }
    .photo-grid li p {
      font-style: italic;
      line-height: 1.2em;
      font-size: 0.65em;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
      margin-bottom: 0.5em; }
    .photo-grid li:hover img, .photo-grid li:focus img {
      -webkit-filter: grayscale(0);
      -moz-filter: grayscale(0);
      -o-filter: grayscale(0);
      -ms-filter: grayscale(0);
      filter: grayscale(0); }
    .photo-grid li:hover figcaption, .photo-grid li:focus figcaption {
      bottom: -100%;
      -webkit-transition: bottom 0.2s ease-in;
      -moz-transition: bottom 0.2s ease-in;
      -o-transition: bottom 0.2s ease-in;
      -ms-transition: bottom 0.2s ease-in;
      transition: bottom 0.2s ease-in; }

.register-box {
  background: #333333;
  color: #fff;
  margin-bottom: 2em; }
  .register-box h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em; }
    .register-box h2 a {
      display: block;
      color: #fff;
      background: #c1503e;
      padding: .33em 4.5%;
      text-transform: none;
      font-family: "ff-tisa-web-pro", Georgia, "Times New Roman", Times, Serif; }
  .register-box h3 {
    padding: 0 4.5% .33em;
    text-transform: none;
    font-family: "ff-tisa-web-pro", Georgia, "Times New Roman", Times, Serif;
    font-size: 1em; }
  .register-box ul {
    margin-bottom: 1.5em;
    padding-left: 2.5em;
    font-size: 0.875em; }
  .register-box .button {
    margin-left: 1.5em;
    margin-bottom: 1.5em;
    background: #c1503e; }
    .register-box .button:hover, .register-box .button:active, .register-box .button:focus {
      color: #c1503e;
      background: #fff; }

.sponsors {
  background: #fff;
  border-top: 1px solid #e9e9e9;
  padding-top: 2em;
  padding-bottom: 2em; }
  .sponsors:after {
    content: "";
    display: table;
    clear: both; }
  .sponsors h2 {
    text-align: center; }
  .sponsors ul {
    margin: 1em auto 0;
    text-align: center;
    list-style: none outside none;
    padding-left: 0;
    max-width: 27em; }
    .sponsors ul:after {
      content: "";
      display: table;
      clear: both; }
    .sponsors ul li {
      float: left;
      line-height: 1;
      margin-bottom: 1.5em; }
      .sponsors ul li a {
        background: #f4f4f4;
        padding: 10%;
        display: block;
        line-height: 1;
        width: 80%; }
      .sponsors ul li img {
        display: block;
        line-height: 1;
        max-width: 100%;
        width: 100%; }
  .sponsors .platinum li {
    width: 48.5%;
    margin-right: 3%; }
    .sponsors .platinum li:nth-child(2n+2),
    .sponsors .platinum li .fourth {
      margin-right: 0; }
  .sponsors .gold li {
    width: 31.333333333%;
    margin-right: 3%; }
    .sponsors .gold li:nth-child(3n+3),
    .sponsors .gold li .third {
      margin-right: 0; }

.sitefooter {
  background: #333333;
  color: #fff;
  font-size: 0.875em;
  padding-top: 4em;
  padding-bottom: 4em; }
  .sitefooter a {
    color: #c1503e; }
    .sitefooter a:hover, .sitefooter a:active, .sitefooter a:focus {
      color: #e6b9b2; }
  .sitefooter ul {
    list-style: none outside none;
    padding-left: 0; }
    .sitefooter ul ul {
      padding-left: 1.4em;
      list-style: disc outside none; }
  .sitefooter h2 {
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 1px; }

.social-footer li {
  margin-bottom: .75em; }
  .social-footer li:after {
    content: "";
    display: table;
    clear: both; }
.social-footer iframe {
  display: block;
  margin: 0;
  padding: 0; }

/*
 Schedule
 */
.scheduled-event {
  border-bottom: 5px solid #e9e9e9;
  padding: 1em 0 0.5em 1.3em; }
  .scheduled-event:first-child {
    border-top: 5px solid #e9e9e9; }
  .scheduled-event:last-child {
    border-bottom: none;
    border-left: none; }
  .scheduled-event time {
    color: #666666;
    background: white url(../img/grey-dot.png) left center no-repeat;
    padding-left: 1.5em;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    -ms-background-size: 16px 16px;
    background-size: 16px 16px;
    font-family: "freight-sans-pro", "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
    margin-left: -1.5em; }
  .scheduled-event.speaker time {
    background-image: url(../img/red-dot.png); }
  .scheduled-event h2 {
    color: #666666;
    margin-bottom: 0;
    font-size: 1em;
    font-family: "freight-sans-pro", "Helvetica Neue", Arial, sans-serif;
    font-weight: 600; }
  .scheduled-event.speaker h2 {
    font-size: 2.5em;
    font-family: "futura-pt-condensed", "League Gothic", "Arial Narrow", "Helvetica Neue", Arial, sans-serif;
    font-weight: 500; }
  .scheduled-event a.reveal {
    color: #c1503e; }
    .scheduled-event a.reveal span {
      opacity: 0.2;
      -webkit-transition: opacity 0.3s ease-out;
      -moz-transition: opacity 0.3s ease-out;
      -o-transition: opacity 0.3s ease-out;
      -ms-transition: opacity 0.3s ease-out;
      transition: opacity 0.3s ease-out;
      text-indent: 1000%;
      white-space: nowrap;
      overflow: hidden;
      background: transparent url(../img/plus.png) left center no-repeat;
      margin-left: 0.25em;
      height: 17px;
      width: 17px;
      -webkit-background-size: 17px;
      -moz-background-size: 17px;
      -o-background-size: 17px;
      -ms-background-size: 17px;
      background-size: 17px;
      margin-bottom: 0.17em;
      display: inline-block; }
    .scheduled-event a.reveal:hover {
      color: #9a4032; }
      .scheduled-event a.reveal:hover span {
        opacity: 1; }
  .scheduled-event h3 {
    font-family: "ff-tisa-web-pro", Georgia, "Times New Roman", Times, Serif;
    font-size: 1em;
    text-transform: none;
    line-height: 1.5em;
    font-weight: normal;
    margin-bottom: 0.5em; }
  .scheduled-event img {
    width: 100%;
    max-width: 100%;
    margin: 1em 0; }
  .scheduled-event .details {
    font-size: 0.875em;
    color: #666666;
    line-height: 1.5em;
    margin-bottom: 1em; }
  .scheduled-event p {
    margin-bottom: .5em; }
  .scheduled-event .speaker-links a {
    display: inline-block;
    margin-right: 3%; }
  .scheduled-event .speaker-links span {
    display: inline-block;
    font-size: 1.333333333em;
    line-height: 0.4em;
    color: #666666; }

.fringe .intro {
  background: #ececec;
  padding: 1.5em 4%;
  margin-bottom: 1.5em; }
  .fringe .intro h2 {
    font-family: "freight-sans-pro", "Helvetica Neue", Arial, sans-serif;
    font-size: 1em;
    color: #caa75b;
    font-weight: 600; }
.fringe h3 {
  font-size: 2.5em; }
.fringe h4 {
  font-size: .888888889em;
  text-transform: uppercase;
  color: #666666;
  font-weight: 600;
  margin-bottom: 0.5em; }
  .fringe h4 a {
    display: inline-block;
    margin-left: .5em;
    padding-left: .5em;
    border-left: 2px solid #ececec; }
.fringe .event {
  position: relative;
  border-left: 5px solid #ececec;
  padding-left: 5%; }
  .fringe .event.coffee-morning {
    border-left-color: transparent; }
  .fringe .event .marker {
    background: white url(../img/red-dot.png) left center no-repeat;
    width: 16px;
    height: 16px;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    -ms-background-size: 16px 16px;
    background-size: 16px 16px;
    position: absolute;
    top: 0;
    left: -10px; }
  .fringe .event img {
    display: none; }

.map:after {
  content: "";
  display: table;
  clear: both; }

.travel {
  line-height: 1.5em; }
  .travel a {
    font-family: "freight-sans-pro", "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    background: #c1503e;
    color: #fff;
    padding: 0.33em 0.66em;
    margin-right: 0.5em;
    font-size: .875em; }
    .travel a:hover {
      background-color: #333333; }

.conference-centre-info {
  background: #c1503e;
  color: #fff;
  font-family: "freight-sans-pro", "Helvetica Neue", Arial, sans-serif; }
  .conference-centre-info a {
    color: #e0a89f;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.75em; }
    .conference-centre-info a:hover, .conference-centre-info a:active, .conference-centre-info a:focus {
      color: #fff; }
  .conference-centre-info img {
    line-height: 1em; }
  .conference-centre-info .vcard {
    padding: .5em 4% 1em; }
    .conference-centre-info .vcard .street-address span {
      display: block; }

.shrewsbury-logo {
  padding: 2em 6%;
  margin-bottom: 1.5em;
  max-width: 88%;
  text-align: center;
  border: 1px solid #e9e9e9;
  background: #fff; }

a img:hover, a img:active, a img:focus {
  border-color: #c1503e; }

.where-to-stay .container {
  padding-top: 2em;
  padding-bottom: 2em; }
.where-to-stay .hotel {
  font-size: .888888889em;
  margin-bottom: 1em; }
  .where-to-stay .hotel p {
    margin-bottom: 0.1em; }
.where-to-stay a {
  color: #caa75b; }
  .where-to-stay a:hover {
    color: #fff; }

/* About page */
.slidesjs-navigation,
.slidesjs-pagination {
  display: none; }

.team {
  color: #fff;
  background: #c1503e;
  padding-top: 2em;
  padding-bottom: 2em; }
  .team .ss-icon {
    color: #fff; }
  .team h3 {
    margin-bottom: 0.5em; }
  .team .team-grid .unit {
    font-size: 0.75em;
    float: left;
    width: 47.5%;
    margin-right: 5%; }
    .team .team-grid .unit p {
      line-height: 1.4em;
      font-family: "freight-sans-pro", "Helvetica Neue", Arial, sans-serif;
      margin-bottom: 0.5em; }
  .team .team-grid .even {
    margin-right: 0; }
  .team .volunteers .unit {
    float: left;
    width: 21.25%;
    margin-right: 5%;
    margin-bottom: 5%; }
  .team .volunteers .fourth {
    margin-right: 0; }
  .team strong {
    font-family: "freight-sans-pro", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.25em;
    font-weight: 500; }

.shropgeek {
  border-top: 1px solid #e9e9e9;
  padding-top: 2em; }

/* Sponsors page */
.sponsors-page h2 {
  color: #caa75b;
  margin-bottom: 0.25 em; }
.sponsors-page ul {
  list-style: none outside none;
  padding-left: 0; }
.sponsors-page li {
  font-family: "freight-sans-pro", "Helvetica Neue", Arial, sans-serif;
  margin-bottom: 1em; }
  .sponsors-page li:after {
    content: "";
    display: table;
    clear: both; }
  .sponsors-page li img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px dashed #c1503e; }
  .sponsors-page li a {
    display: block; }
    .sponsors-page li a:after {
      content: "";
      display: table;
      clear: both; }
    .sponsors-page li a img {
      border: 1px solid #e9e9e9; }
  .sponsors-page li strong {
    display: block;
    visibility: hidden;
    height: 0; }
.sponsors-page .platinum-sponsors:after {
  content: "";
  display: table;
  clear: both; }

.five-cols:after {
  content: "";
  display: table;
  clear: both; }
.five-cols .unit {
  width: 48.5%;
  float: left;
  margin-right: 3%; }
  .five-cols .unit:nth-child(even) {
    margin-right: 0; }

.sidebar {
  background: #ececec;
  font-size: 0.875em; }
  .sidebar .content {
    padding: 1em 6%; }
  .sidebar h2 {
    font-size: 1em;
    margin-bottom: 0.5em;
    font-family: "freight-sans-pro", "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #caa75b; }
  .sidebar p {
    line-height: 1.5em; }
  .sidebar .button {
    background: #caa75b;
    padding: 0.4em 0.75em;
    line-height: 1.4em;
    font-size: 1em; }
    .sidebar .button:hover {
      background: #c1503e;
      color: #fff; }

.tickets .ticket-bit {
  margin-bottom: 3em; }
  .tickets .ticket-bit:after {
    content: "";
    display: table;
    clear: both; }
.tickets .attendees {
  list-style: none outside none;
  padding-left: 0; }
  .tickets .attendees:after {
    content: "";
    display: table;
    clear: both; }
  .tickets .attendees a {
    display: block;
    width: 24%;
    float: left;
    margin-right: 1%;
    margin-bottom: 1%; }
  .tickets .attendees strong {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0; }
  .tickets .attendees img {
    display: block; }

.two-cols-even .col3,
.two-cols .col3,
.three-cols .col3 {
  display: none; }
