.scheduled-event time {
  background-image: url(../img/grey-dot@2.png); }
.scheduled-event.speaker time {
  background-image: url(../img/red-dot@2.png); }

.fringe .event .marker {
  background-image: url(../img/red-dot@2.png); }

.scheduled-event a.reveal span {
  background-image: url(../img/plus@2.png); }
