/* GRIDS 

	Using a 3 column grid based on a Hecton ratio with a 3% gutter
	Column one (largest) : 41.44713695%;
	Column two (middlest) : 30.34140976%;
	Column three (smallest) : 22.21145328%;
	
	A two column version of this can be used, either right-left or left-right
	
	Column one (largest) : 74.78854671%;
	Column three (smallest) : 22.21145328%;

*/
.two-cols .co1 {
  width: 74.78854671%;
  float: left;
  margin-right: 3%; }
.two-cols .col2 {
  width: 22.21145328%;
  float: left; }

.two-cols-rl .col1 {
  width: 22.21145328%;
  float: left;
  margin-right: 3%; }
.two-cols-rl .col2 {
  width: 74.78854671%;
  float: left; }

.three-cols .col1 {
  width: 41.44713695%;
  margin-right: 3%; }
.three-cols .col2 {
  width: 30.34140976%;
  margin-right: 3%; }
.three-cols .col3 {
  width: 22.21145328%;
  clear: none; }

.five-cols .unit {
  width: 18.4%; }
.five-cols .third {
  margin-right: 2%; }
.five-cols .last {
  margin-right: 0; }

.photo-grid li {
  width: 23.5%;
  margin-right: 2%; }
  .photo-grid li:nth-child(3n+3) {
    margin-right: 2%; }
  .photo-grid li:nth-child(4n+4) {
    margin-right: 0; }

.sitefooter > div {
  margin-right: 3%; }
.sitefooter .presented-by {
  width: 35.2%;
  margin-bottom: 0; }
.sitefooter .social-footer,
.sitefooter .about-footer,
.sitefooter .previous-footer {
  width: 17.6%; }

.fringe .intro {
  width: 18.21145328%;
  padding: 1.5em 2%; }
  .fringe .intro p {
    font-size: 0.875em;
    line-height: 1.5em; }

.location .map {
  background: transparent url(../img/location-map-large.png) left center no-repeat;
  min-height: 600px; }
.location .conference-centre-info {
  left: 385px;
  top: 7em; }
