body {
  font-size: 1.125em; }

.siteheader .title {
  width: 50%;
  float: left;
  padding-bottom: 1em; }
  .siteheader .title h1 {
    margin: 0; }
.siteheader .where-and-when {
  width: 50%;
  float: right;
  text-align: right; }

.about .about-content {
  max-width: 54em;
  margin: 0 auto;
  background: #fff; }
  .about .about-content:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  .about .about-content div {
    width: 47.5%;
    margin-right: 5%;
    float: left; }
    .about .about-content div:nth-child(odd) {
      margin-right: 0; }

.sitefooter > div {
  float: left; }
  .sitefooter > div:last-child {
    margin-right: 0; }
.sitefooter .presented-by {
  width: 100%;
  margin-bottom: 2em; }
  .sitefooter .presented-by p {
    max-width: 34em; }
.sitefooter .social-footer,
.sitefooter .about-footer,
.sitefooter .previous-footer {
  width: 32%;
  margin-right: 2%; }

.speakers {
  padding-top: 4em; }
  .speakers h2 {
    font-size: 3em; }

.photo-grid li {
  width: 32%;
  margin-right: 2%; }
  .photo-grid li:nth-child(2n+2) {
    margin-right: 2%; }
  .photo-grid li:nth-child(3n+3) {
    margin-right: 0; }

.register {
  padding-top: 4em;
  width: 100%;
  float: left;
  margin-right: 4%; }
  .register .register-box {
    width: 100%; }

.photo-grid {
  width: 100%;
  float: left; }

.scheduled-event {
  position: relative;
  padding: 2.5em 0 2.5em;
  border-left: 5px solid #e9e9e9; }
  .scheduled-event time {
    position: absolute;
    left: .5em;
    top: -.9em;
    display: inline-block;
    text-align: right;
    width: 4em;
    padding: 0 1.5em 0 0;
    background-position-x: right;
    margin-left: 0; }
  .scheduled-event img {
    width: 15%;
    float: right;
    margin-left: 1em;
    margin-top: 0; }
  .scheduled-event h2,
  .scheduled-event h3,
  .scheduled-event > p {
    margin-left: 13%;
    margin-right: 13%; }
  .scheduled-event .details {
    margin-left: 13%; }
    .scheduled-event .details:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0; }

.fringe .event {
  margin-bottom: 4em; }
  .fringe .event img {
    display: block;
    width: 21.6%;
    float: left; }
  .fringe .event h3,
  .fringe .event h4,
  .fringe .event p {
    background: #fff;
    margin-left: 23.6%; }

.two-cols-equal .col1 {
  width: 47%;
  margin-right: 6%;
  float: left; }
.two-cols-equal .col2 {
  width: 47%;
  float: left;
  font-size: 0.875em; }

.two-cols-equal.third .col3 {
  width: 47%;
  float: left;
  clear: both; }

.map {
  background: transparent url(../img/location-map-med.png) left center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  position: relative;
  min-height: 400px; }
  .map .conference-centre-info {
    position: absolute;
    max-width: 15em;
    top: 3em;
    left: 145px; }
