body:before { 
                            white-space: pre; 
                            font-family: monospace; 
                            content: 'Sass Syntax error: File to import not found or unreadable: variables.scss. \A               Load paths: \A                  \A         on line 1 of an unknown file'; } 
                            
                            body * { 
                            display: none; 
                            } 