.photo-grid {
	li {
		width: 23.5%;
		margin-right: 2%;
		&:nth-child(3n+3) {
			margin-right: 2%;
		}
		&:nth-child(4n+4) {
			margin-right: 0;
		}
	}
	
}



.the-day {
	width: 63.5%;
	float: left;
	margin-right: 5%;
}
.fringe {
	width: 24.5%;
	float: left;
}


.sitefooter {
	> div {
		margin-right: 3%;
	}
	.presented-by {
		width: 	35.2%;
		margin-bottom: 0;
	}
	.social-footer,
	.about-footer,
	.previous-footer {
		width: 17.6%;
	}
	

}