.photo-grid {
	li {
		width: 23.5%;
		margin-right: 2%;
		&:nth-child(3n+3) {
			margin-right: 2%;
		}
		&:nth-child(4n+4) {
			margin-right: 0;
		}
	}
	
}


.schedule {
	.the-day {
		width: 63.5%;
		float: left;
		margin-right: 5%;
}
	.fringe-teaser {
		width: 24.5%;
		float: left;
	}
}



.sitefooter {
	> div {
		margin-right: 3%;
	}
	.presented-by {
		width: 	35.2%;
		margin-bottom: 0;
	}
	.social-footer,
	.about-footer,
	.previous-footer {
		width: 17.6%;
	}
	
}

.fringe {
	.intro {
		float: left;
		width: 16%;
		padding: 1.5em 2%;
		p {
			font-size: 0.875em;
			line-height: 1.5em;
		}
	}
	.events {
		float: left;
		width: 77%;
		margin-left: 3%;
	}
}

.two-cols-equal {
	.col1 {
		width: 35.2%;
		margin-right: 6%;

	}
	.col2 {
		width: 35.2%;
	}
}
.two-cols-equal.third {
	.col3 {
		width: 20.6%;
		margin-left: 3%;
		clear: none;
	}
}

.location {
	.map {
		background: transparent url(../img/location-map-large.png) left center no-repeat;
		min-height: 600px;
	}
	.conference-centre-info {
		left: 385px;
		top: 7em;
	}
}