/* TODO: Tablet test and tweak */


@import "mixins.scss";
@import "variables.scss";

body {
	font-size: 1.125em;
}
.siteheader {
	.title {
		width: 50%;
		float: left;
		padding-bottom: 1em;
		h1 {
			margin: 0;
		}
	}
	.where-and-when {
		width: 50%;
		float: right;
		text-align: right;
	}
}

.sitenav {
		padding: 0 4%;
	width: 92%;
	ul {

		@include horizontal-list();
	}
	li {
		display: inline-block;
		padding-top: .5em;
		padding-bottom: .5em;
		margin-right: 1em;
	}
	li.current {
		background: transparent url(../img/current-marker.png) center bottom no-repeat;
		a {
			color: #fff;
		}
	}
	a {
		display: inline-block;
		border: none;
	}

}
.js #nav {
    position: relative;
    max-height: none;
}
  
#nav-toggle {
    display: none;
  }

.about {
	.about-content {
		@include clearfix();
		max-width: 54em;
		margin: 0 auto;
		background: #fff;
		div {
			width: 47.5%;
			margin-right: 5%;
			float: left;
			&:nth-child(odd) {
				margin-right: 0;
			}
		}
	}
}



.sitefooter {
	> div {
		float: left;
		&:last-child {
			margin-right: 0;
		}
	}
	.presented-by {
		width: 	100%;
		margin-bottom: 2em;
		p {
			max-width: 34em;
		}
	}
	.social-footer,
	.about-footer,
	.previous-footer {
		width: 32%;
		margin-right: 2%;
	}
	

}

.speakers {
	padding-top: 4em;
	h2 {
		font-size: 3em;
	}
}

.photo-grid {
	li {
		width: 32%;
		margin-right: 2%;
		&:nth-child(2n+2) {
			margin-right: 2%;
		}
		&:nth-child(3n+3) {
			margin-right: 0;
		}
	}
	
}

.register {
	padding-top: 4em;
	width: 100%;
	float: left;
	margin-right: 4%;
	.register-box {
		width: 100%;
	}
}

.photo-grid {
	width: 100%;
	float: left;	
}

.scheduled-event {
	position: relative;
	padding: 2.5em 0 2.5em;
	border-left: 5px solid $bordergrey;
	time {
		position: absolute;
		left: .5em;
		top: -.9em;
		display: inline-block;
		text-align: right;
		width: 4em;
		padding: 0 1.5em 0 0;
		background-position-x: right;
		margin-left: 0;
	}
	
	img {
		width: 15%;
		float: right;
		margin-left: 1em;
		margin-top: 0;
	}
	
	h2,
	h3,
	> p {
		margin-left: 13%;
		margin-right: 13%;
	}
	
	.details {
		margin-left: 13%;
		@include clearfix();
	}
}

.fringe {
	.event {
		margin-bottom: 4em;
		img {
			display: block;
			width: 21.6%;
			float: left;
		}
		h3,
		h4,
		p {
			margin-left: 23.6%;
		}
	}
	
}

.two-cols-even,
.two-cols,
.three-cols {
	.col1 {
		width: 47%;
		margin-right: 6%;
		float: left;
	}
	.col2 {
		width: 47%;
		float: left;
		font-size: 0.875em;
	}
	.col3 {
		display: none;
		
	}
}

.four-cols {
	.unit {
		width: 23.5%;
		margin-right: 2%;
		float: left;
		margin-bottom: 2em;
	}
	
	.fourth {
		margin-right: 0;
	}
}

.five-cols {
	.unit {
		width: 32%;
		margin-right: 2%;
		float: left;
		margin-bottom: 2em;
	}
	.third {
		margin-right: 0;
	}
}
.map {
	background: transparent url(../img/location-map-med.png) left center no-repeat;
	@include prefix(background-size, cover);
	position: relative;
	min-height: 400px;
	@include prefix(box-shadow, inset 0 1px 3px rgba(0,0,0,0.2));
	.conference-centre-info {
		position: absolute;
		max-width: 15em;
		top: 3em;
		
		
		left: 145px;
	}
}

.vista {
	background: transparent url(../img/shrewsbury-vista-tiltshift.jpg) center bottom no-repeat;
	@include prefix(background-size, cover);
	height: 600px;
	@include prefix(box-shadow, inset 0 1px 3px rgba(0,0,0,0.2));
	position: relative;
}

.where-to-stay {
	.container {
		background: transparent;
		color: #fff;
		position: absolute;
		bottom: 0;
		padding-bottom: 0;
	}
}

.sponsors {
	.platinum {
		max-width: 54em;
		li {
			width: 23.5%;
			margin-right: 2%;
			&:nth-child(2n+2),
			.second {
				margin-right: 2%;
			}
			&:nth-child(4n+4),
			.fourth {
				margin-right: 0;
			}
		}
	}
	
	.gold {
		max-width: none;
		li {
			width: 11.5%;
			margin-right: 1%;
			&:nth-child(3n+3),
			third {
				margin-right: 1%;
			}
			&:nth-child(9n+9),
			.ninth {
				margin-right: 0;
			}
		}
	}
}

.sponsors-page {
	.four-cols {
		.unit {
			width: 48.5%;
		}
		
		.even {
			margin-right: 0;
		}
	}
}



