
$bodyfont: "ff-tisa-web-pro", Georgia, 'Times New Roman', Times, Serif;
$futura: "futura-pt", 'Helvetica Neue', Arial, sans-serif;
$futura-narrow: "futura-pt-condensed", 'League Gothic', 'Arial Narrow', 'Helvetica Neue', Arial, sans-serif;
$sans: "freight-sans-pro", 'Helvetica Neue', Arial, sans-serif;

$red: #c1503e;
$black: #333333;
$blue: #6bbcc0;
$gold: #caa75b;
$midgrey: #666666;
$bordergrey: #e9e9e9;
$lightgrey: #ececec;