@import "mixins.scss";

.two-cols {
	.col1 {
		width: 74.78854671%;
		float: left;
		margin-right: 3%;
	}
	
	.col2 {
		width: 22.21145328%;
		float: left;
	}
}

.two-cols-rl {
	.col1 {
		width: 22.21145328%;
		float: left;
		margin-right: 3%;
	}
	
	.col2 {
		width: 74.78854671%;
		float: left;
	}
}


.two-cols-even {
	.col1 {
		width: 41.44713695%;
		margin-right: 3%;
	}
	.col2 {
		width: 55.55286304%;
	}

}


.three-cols {
	.col1 {
		width: 41.44713695%;
		margin-right: 3%;

	}
	.col2 {
		width: 30.34140976%;
		margin-right: 3%;
	}
	
	.col3 {
		width: 22.21145328%;
		clear: none;
		display: inline-block;
	}
}


.five-cols {
	.unit {
		width: 18.4%;
	}
	.third {
		margin-right: 2%;
	}
	.fifth,
	.last {
		margin-right: 0;
	}
}


.photo-grid {
	li {
		width: 23.5%;
		margin-right: 2%;
		&:nth-child(3n+3) {
			margin-right: 2%;
		}
		&:nth-child(4n+4) {
			margin-right: 0;
		}
		h3 {
			font-size: 2em;
		}
		p {
			font-size: 0.875em;
		}
	}
	
}

.siteheader { 
	.where-and-when {
		p {
			font-size: 1.5em;
		}
	}
}

.sitefooter {
	> div {
		margin-right: 3%;
	}
	.presented-by {
		width: 	35.2%;
		margin-bottom: 0;
	}
	.social-footer,
	.about-footer,
	.previous-footer {
		width: 17.6%;
	}
	
}

.fringe {
	.intro {
		width: 18.21145328%;
		padding: 1.5em 2%;
		p {
			font-size: 0.875em;
			line-height: 1.5em;
		}
	}
	.events {

	}
}



.location {
	.map {
		background: transparent url(../img/location-map-large.png) left center no-repeat;
		min-height: 600px;
	}
	.conference-centre-info {
		left: 385px;
		top: 7em;
	}
}

.sponsors-page {
	.four-cols {
		.unit {
			width: 23.5%;
			margin-right: 2%;
		}
		.odd,
		.even {
			margin-right: 2%;
		}
		.fourth {
			margin-right: 0;
		}
	}
}

.tickets {
	.attendees {
		a {
			width: 9.5%;
			margin-right: .5%;
			margin-bottom: .5%;
		}
	}
}
.team {
	.col1 {
		width: 55.55286304%;
		margin-right: 3%;
	}
	
	.col2 {
		width: 41.44713695%;
	}

	.team-grid {
		.unit {
			width: 23.5%;
			margin-right: 2%;
		}
		.even {
			margin-right: 2%;
		}
		.last {
			margin-right: 0;
		}
	}
	
	.volunteers {
		.unit {
			width: 15%;
			margin-right: 2%;
			margin-bottom: 2%;
		}
		.fourth {
			margin-right: 2%;
		}
		.sixth {
			margin-right: 0;
		}
	}
	
}

.sales-pitch {
	padding-top: 15em;
	background-position-y: 200px;
		@include prefix(background-size, 75%);

}

.foreground {

}

.caption {
	margin-top: -12em;
}

.about {
	padding-top: 4em;
	padding-bottom: 4em;
}