{% block title %}Fringe{% endblock %}
{% block bodyclass %}fringe{% endblock %}

{% block content %}
	<main role="main">
	<section class="page-title">
		<div class="container">
			<h1>Not just a conference</h1>
			
				<p>Shropgeek (R)evolution is more than just a conference, we'll be paying host to many special events put on especially for our attendees, to give a flavour of the things that Shropgeek gets up to all year round</p>
			
		</div>
	</section>
	
	<div class="page container two-cols-rl">
		
		
		<div class="events col2">
		<div class="rebellion event">
				<img src="../assets/img/neilandjan.jpg" alt="Rebellion happens the night before" />
				<h3>Shropgeek Rebellion</h3>
				<h4>7:30pm, Thursday 26 September 2013</h4>
				<h4>The Alb, Shrewsbury, SY1 9PC <a href="#">map</a></h4>
				<p>Rebellion is our quarterly event where we host talks from industry people from Shropshire. We're putting on a special Rebellion the night before the conference as a warm up. Featuring Shropshire residents <a href="http://twitter.com/neiltak">Neil Kinnish</a> and <a href="http://twitter.com/JanMinihane">Jan Minihane</a>. Find out more on <a href="#">Lanyrd</a>.</p>
			</div>

						<div class="after-party event">
				<img src="../assets/img/after-party-teaser.jpg" alt="Join us at the after party" />
				<h3>After party</h3>
				<h4>7:30pm, Friday 27 September 2013</h4>
				<h4>Velvet, Shrewsbury, SY1 9PC <a href="#">map</a></h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan aliquet mi et auctor. Maecenas nunc neque, condimentum vel pretium ut, ultricies in orci. Sed ac rhoncus sapien. Maecenas quis quam elementum odio fermentum ornare. Quisque vitae diam sed lorem bibendum viverra a eu sapien. Phasellus tempus, libero sit amet aliquam dignissim, tortor orci cursus diam, id semper metus est sit amet felis. </p>
				<p><a href="#" class="sponsorship-available">Sponsor the after party</a></p>

			</div>
			<div class="coffee-morning event">
				<img src="../assets/img/coffee-teaser.jpg" alt="Join us at the after party" />
				<h3>Breakfast</h3>
				<h4>9:30am - 11:30am, Saturday 28 September 2013</h4>
				<h4>The Shrewsbury Coffee House, Shrewsbury, SY1 2AE <a href="#">map</a></h4>
				<p>The morning after the conference we'll be recovering in the <a href="http://shrewsburycoffeehouse.co.uk/">Shrewsbury Coffeehouse</a>, opposite the train station in the town centre. Come and enjoy a good chat over a high-quality cup of coffee and a bite to eat while you wait for your train home.</p>

			</div>
		</div>
	</div>

	</main>
{% endblock %}