{% block title %}Location{% endblock %}
{% block bodyclass %}location{% endblock %}

{% block content %}
	<main role="main">
		<section class="page-title">
			<div class="container">
				<h1>Location</h1>
			</div>
		</section>
		<section class="info two-cols-equal">
			<div class="container page">
				<h2>The Shropshire Conference Centre</h2>
				<div class="intro col1">
				

<p>The Shropshire Conference Centre is located just outside Shrewsbury. </p>

<p>The only purpose-built auditorium in Shropshire, it shares a large site with the Royal Shrewsbury Hospital, making it easy to find, with dedicated, private parking and great public transport links.</p>
				</div>
				<div class="col2 travel">
					<h3>Arriving by public transport</h3>
					<p>If you arrive in Shrewsbury by train, there is a bus every 15 minutes to the conference centre from the town centre bus station, just ask for a return to the hospital.
					</p>
					<p><a href="http://shropshire.gov.uk/bustimes/stop.jsc?stop=3500B255800">Bus times</a></p>
				</div><!-- travel -->	
			</div><!-- container -->
		</section>

		<section class="map page">
			<div class="conference-centre-info">
						<img src="../assets/img/conference-centre.jpg" alt="conference-centre" />
						<div class="vcard">
							<div class="fn org">Shropshire Conference Centre</div>
							<div class="adr">
							 	<div class="street-address">
							 		<span>Royal Shrewsbury Hospital</span>
							 		<span>Mytton Oak Road</span>
							 	</div>
							 	<span class="locality">Shrewsbury</span>
								 <span class="region">Shropshire</span>
								 <div class="postal-code">SY3 8XQ</div>
								 <a href="#">Get directions</a>
							</div><!-- adr -->
						</div><!-- vcard -->
					</div><!-- conference-centre-info -->
		</section>
		<section class="info shrewsbury two-cols-equal third">
			<div class="container page">
				<h2>About Shrewsbury</h2>
				<div class="intro col1">
				
<p>Birthplace of Charles Darwin, Shrewsbury is set amidst glorious countryside near to the Welsh Borders, it is one of England's finest medieval market towns. The town centre is packed with timber-framed black &amp; white buildings, steep narrow streets and alleyways.</p>

<p>It boasts over 600 listed buildings including the Castle, now a regimental museum and the world-famous Shrewsbury Abbey, home of the fictional Brother Cadfael.</p>
				</div>
				<div class="travel col2">
				<h3>Travel</h3>

<p>Shrewsbury is less than an hour away from Birmingham, 1 hour 40 from Manchester, Liverpool and Nottingham.</p>

<h4>By Car</h4>

<p>Shrewsbury connects to the M6 and motorway network via the M54. The A49, A5, A53, A458 all make Shrewsbury easily accessible.</p>

<h4>By Rail</h4>

<p>Shrewsbury train station is the centre of the town and is linked by a regular main line rail service and is a short walk away from the bus station</p>
				</div>
				<div class="col3">
					<a href="http://visitshrewsbury.com">
				<img src="../assets/img/shrewsbury-logo.png" alt="Shrewsbury, the original one-off" class="shrewsbury-logo"/>
					</a>


			</div>
			</div>
			
		</section>

	</main>
{% endblock %}