{% block title %}Location{% endblock %}
{% block bodyclass %}location{% endblock %}

{% block content %}
	<div role="main">
		<section class="info shrewsbury three-cols">
			<div class="container page">
				<h1>A Shrewsbury one-off since 2010</h1>
				<div class="intro col1">
<p>(R)evolution is held in Shrewsbury: birthplace of Charles Darwin, Shrewsbury is set amidst glorious countryside near to the Welsh Borders. It is one of England's finest medieval market towns. The town centre is packed with medieval timber-framed buildings, steep narrow streets, and alleyways.</p>

<p>It boasts over 600 listed buildings including the Castle, now a regimental museum and the world-famous <a href="http://www.shrewsburyabbey.com/" target="_blank">Shrewsbury Abbey</a>, home of the fictional Brother <a href="http://en.wikipedia.org/wiki/Cadfael" target="_blank">Cadfael</a>.</p>
				</div>
				<div class="travel col2">
				<h3>Travel</h3>

<p>Shrewsbury is less than an hour from Birmingham, and 1 hour 40 from Manchester, Liverpool and Nottingham.</p>

<h4>By Car</h4>

<p>Shrewsbury connects to the M6 and motorway network via the M54. The A49, A5, A53, A458 all make Shrewsbury easily accessible.</p>

<h4>By Rail</h4>

<p>Shrewsbury train station is the centre of the town and is linked by a regular main line rail service and is a short walk away from the bus station</p>
				</div>
				<div class="col3">
					<a href="http://visitshrewsbury.com" target="_blank">
						<img src="{{ "shrewsbury-logo.png" | asset_url }}" alt="Shrewsbury, the original one-off" class="shrewsbury-logo"/>
					</a>
				</div>
			</div>
		</section>
		<section class="where-to-stay vista">
			<div class="container page five-cols">
				<h2>Where to stay</h2>

                <div class="hotel vcard unit">
                    <h3 class="fn org url"><a href="http://www.prince-rupert-hotel.co.uk/" target="_blank">The Prince Rupert</a></h3>
                    <div class="addr">
                        <p class="street-address">Butcher Row, Shrewsbury</p>
                        <p class="locality">Shropshire <span class="postal-code">SY1 1UQ</span></p>
                    </div>
                    <p class="tel">01743 499955</p>
                </div>

    			<div class="hotel vcard unit">
    				<h3 class="fn org url"><a href="http://www.premierinn.com/en/hotel/SHRSMI/shrewsbury-town-centre" target="_blank">Premier Inn</a></h3>
    				<div class="addr">
    					<p class="street-address">Smithfield Road, Shrewsbury</p>
    					<p class="locality">Shropshire <span class="postal-code">SY1 1QB</span></p>
    				</div>
    				<p class="tel">0871 527 9402</p>
    			</div>
    			<div class="hotel vcard unit">
    				<h3 class="fn org url"><a href="http://www.oldpostofficepub.co.uk/" target="_blank">The Old Post Office</a></h3>
    				<div class="addr">
    					<p class="street-address">1 Milk Street, Shrewsbury</p>
    					<p class="locality">Shropshire <span class="postal-code">SY1 1SZ</span></p>
    				</div>
    				<p class="tel">01743 236019</p>
    			</div>
    			<div class="hotel vcard unit third">
    				<h3 class="fn org url"><a href="http://www.jdwetherspoon.co.uk/home/pubs/the-shrewsbury-hotel" target="_blank">The Shrewsbury Hotel</a></h3>
    				<div class="addr">
    					<p class="street-address">Bridge Place, Shrewsbury</p>
    					<p class="locality">Shropshire <span class="postal-code">SY1 1PU</span></p>
    				</div>
    				<p class="tel">01743 236203</p>
    			</div>
    			<div class="hotel vcard unit last">
    				<h3 class="fn org url"><a href="http://www.thelionhotelshrewsbury.com/" target="_blank">The Lion Hotel</a></h3>
    				<div class="addr">
    					<p class="street-address">Wyle Cop, Shrewsbury</p>
    					<p class="locality">Shropshire <span class="postal-code">SY1 11UY</span></p>
    				</div>
    				<p class="tel">01743 353107</p>
    			</div>
                
                <!-- Removed to allow room for Prince Rupert
   			    <div class="hotel vcard unit last">
    				<h3 class="fn org url"><a href="http://www.cromwellsinn.com/" target="_blank">Cromwells</a></h3>
    				<div class="addr">
    					<p class="street-address">11 Dogpole, Shrewsbury </p>
    					<p class="locality">Shropshire <span class="postal-code">SY1 1EN</span></p>
    				</div>
    				<p class="tel">01743 361440</p>
    			</div> //-->
			</div>
			<small class="credit">Photo credit: <a href="http://www.flickr.com/photos/brianac37/8056293285/in/photostream/" target="_blank">English Bridge, Shrewsbury</a> by <a href="http://www.flickr.com/people/brianac37/" target="_blank">Brianac37</a></small>
		</section>
				
		

	</div>
{% endblock %}
