{% block title %}Terms and conditions{% endblock %}

{% block content %}
	<div role="main">
	<section class="page-title">
			<div class="container">
				<h1>Frequently asked questions</h1>

			</div>
		</section>
		<div class="page container"> 
			<div class="content-container">

			<h2>Terms of Sale</h2>
				<p>Tickets will be on general sale through Eventbrite from 10am on April 25th 2013. A limited amount of earlybird tickets will be released first at the price of &pound;49. Once these are sold out, standard tickets will go on sale at &pound;69. </p>

				<ul>
				<li>All prices are inclusive of VAT. </li>
				<li>Eventbrite fees will be added to the cost of the ticket at checkout.</li>
				<li>Paypal fees wll not be passed on to you.</li>
				</ul>


			<h2 id="refunds">Refunds and exchanges</h2>

				<p>Tickets are non-refundable. If you have booked a ticket and are no longer able to attend you have some options:</p>
				<ul>
				<li>You could let us know so that we can make your seat available to somebody else.</li>
				<li>You could give / sell your ticket to someone else. If you choose to sell your ticket, we ask that you sell it at the price you paid for it.</li>
				</ul>
				<p>Either way, we would appreciate it if you could let us know so that we can keep our attendee list up to date.
				</p>

			<h2>What are the costs?</h2>

			<p>Ticket prices cover the costs incurred when running an event of this nature. All of our speakers are generously donating their time to make this event a success. However,we do pay for the speakers travel and accommodation, the venue also needs paying for as well as marketing materials to help promote the event. If there is any profit after all of this we donate it to the British Heart Foundation, in memory of Leu Thorne.</p>

			<h2>Why the British Heart Foundation?</h2>

			<p>Shropgeek was originally started by Zach Beauvais and Dean (Leu) Thorne. Sadly Leu passed away on 18th September 2009. As holding an event for Shropshire was his idea and he had been living with a heart condition we thought this would be a fitting tribute.</p>

			</div>
		</div>
	</div>
{% endblock %}