{% block title %}Tickets{% endblock %}
{% block bodyclass %}tickets{% endblock %}

{% block content %}
	<main role="main">
		<section class="page-title">
			<div class="container">
				<h1>Conference tickets</h1>
				<p>Get them while you can&hellip;</p>
			</div>
		</section>
		<div class="page container"> 
			<section class="ticket-bit two-cols">
			<div class="col1">
			<!-- TODO: put eventbrite here -->
			<pre>   put eventbrite here   </pre>
			</div>
			<div class="col2 sidebar">
				<div class="content">
					<h2>Terms of sale</h2>
					<p>For information on refunds, transfers and other important stuff see our <a href="/terms">T's &amp; C's page</a></p>
				</div>
			</div>

			</section>

			<div class="content-container">
			<h2 id="refunds">Refunds and exchanges</h2>

<p>Tickets are non-refundable. If you have booked a ticket and are no longer able to attend you have some options:</p>
<ul>
<li>You could <a href="mailto:revolution@shropgeek.co.uk">let us know</a> so that we can make your seat available to somebody else.</li>
<li>You could give / sell your ticket to someone else. If you choose to sell your ticket, we ask that you sell it at the price you paid for it.</li>
</ul>
<p>Either way, we would appreciate it if you could let us know so that we can keep our attendee list up to date.
</p>
			</div>


		</div>
	</main>
{% endblock %}