{% block title %}Tickets{% endblock %}
{% block bodyclass %}tickets{% endblock %}

{% block content %}
	<main role="main">
		<section class="page-title">
			<div class="container">
				<h1>Conference tickets</h1>
				<p>Get them while you can&hellip;</p>
			</div>
		</section>
		<div class="page container"> 
			<section class="ticket-bit two-cols">
			<div class="col1">
			<!-- TODO: put eventbrite here -->
			<pre>   put eventbrite here   </pre>
			</div>
			<div class="col2 sidebar">
				<div class="content">
					<h2>Terms of sale</h2>
					<p>For information on refunds, transfers and other important stuff see our <a href="/terms">T's &amp; C's page</a></p>
				</div>
			</div>

			</section>
			<section class="two-cols">
				<div class="col1">
				<h2>Attendees</h2>
				<!-- TODO: put attendees here -->
				<ul class="attendees">
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="https://twimg0-a.akamaihd.net/profile_images/2965195214/4f0122950b57dff17b16dba0889437c8.jpeg" alt />
							<strong>Martin Wright</strong>
						</a>
					</li>
				</ul>
			<pre>   put attendees here   </pre>
				</div>
				<div class="col2 sidebar">
					<div class="content">
						<h2>Attend with Lanyrd</h2>
						<p>Register as an attendee on Lanyrd to see your face on this page and to enter a prize draw to win <!--- TODO: prize? -->something, announced on the day, kindly sponsored by <em>Company name</em></p>
					</div>
				</div>
			</section>
		</div>
	</main>
{% endblock %}