{% block title %}Location{% endblock %}
{% block bodyclass %}location{% endblock %}

{% block content %}
	<div role="main">
		
		<section class="info three-cols">
			<div class="container page">
				<h1>The Shropshire Conference Centre</h1>
				<div class="intro col1">
				

<p>The Shropshire Conference Centre is located just outside Shrewsbury. </p>

<p>The only purpose-built auditorium in Shropshire, it shares a large site with the Royal Shrewsbury Hospital, making it easy to find, with dedicated, private parking and great public transport links.</p>
				</div>
				<div class="col2 travel">
					<h3>Arriving by public transport</h3>
					<p>If you arrive in Shrewsbury by train, there is a bus every 15 minutes to the conference centre from the town centre bus station, just ask for a return to the hospital.
					</p>
					<p><a href="#" target="_blank">Directions</a> <a href="http://shropshire.gov.uk/bustimes/stop.jsc?stop=3500B255800" target="_blank">Bus times</a></p>
				</div><!-- travel -->
				<div class="col3">
					<img src="{{ "seats.jpg" | asset_url }}" alt="conference-centre" />
				</div>
			</div><!-- container -->
		</section>

		<section class="map page">
			<div class="conference-centre-info">
				<div id="directionsPanel"></div>
	            <img src="{{ "conference-centre.jpg" | asset_url }}" alt="conference-centre" />
	            <div class="vcard">
	                <div class="fn org">Shropshire Conference Centre</div>
	                <div class="adr">
	                    <div class="street-address">
	                        <span>Royal Shrewsbury Hospital</span>
	                        <span>Mytton Oak Road</span>
	                    </div>
	                    <span class="locality">Shrewsbury</span>
	                     <span class="region">Shropshire</span>
	                     <div class="postal-code">SY3 8XQ</div>
	                     <a href="https://maps.google.co.uk/maps?daddr=Shropshire+Conference+Centre,+Shropshire+Education+%26+Conference+Centre,,+Royal+Shrewsbury+Hospital,+Mytton+Oak+Road,+Shrewsbury,+Shropshire+SY3+8XQ&hl=en&sll=52.787012,-2.734892&sspn=0.249992,0.482712&geocode=CS9_3rY7p98UFTJOJAMdN2vV_yn3SMZZoJ96SDF8e6Jutr6kog&mra=ls&t=m&z=11">Get directions</a>
	                </div>
	            </div>
	           
            </div>
	        <div id="map-canvas" class="map-canvas">
	             
	
	
	        </div
		</section>

	</div>
{% endblock %}